@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
html {
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: #0d192b;
  margin: 0;
}

p {
  font-size: 18px;
}

#card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  background-color: #14253d;
  border-radius: 25px;
  margin: 2em;
}

.inner-card {
  padding: 0.5em;
  background-color: #14253d;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  color: white;
}

p {
  color: #8bacda;
}

span {
  color: #00fff7;
}

figure {
  margin: 0;
}

.main-img {
  width: 100%;
  min-height: 15.625em;
  max-height: 27.5em;
  min-width: 14.375em;
  border-radius: 12px;
}

hr {
  background-color: #2f415b;
  border: none;
  height: 1px;
  margin-bottom: 1em;
}

.ETH-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ETH-money {
  color: #00fff7;
  margin-left: 0.5em;
}

.icon-ethereum {
  height: 25px;
  width: 15px;
}

.avatar-logo {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 25px;
  margin-right: 1em;
}

.icon-clock {
  height: 25px;
  width: 25px;
  margin: 0 0.5em;
}

span {
  color: white;
}

a {
  text-decoration: none;
}

.image-card {
  position: relative;
  cursor: pointer;
}

.image-card:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #00fff7;
  opacity: 0.7;
  border-radius: 24px;
}

.image-card:hover::after {
  content: url("/images/icon-view.svg");
  position: absolute;
  height: 25px;
  width: 25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.image-eye {
  background-image: url("/images/icon-view.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 40px;
  width: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.image-background {
  position: absolute;
  inset: 0;
  background-color: #00fff7;
  opacity: 0.7;
  border-radius: 24px;
  display: none;
}

@media only screen and (min-width: 601px) {
  #card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
    background-color: #14253d;
    border-radius: 25px;
    margin: 0 auto;
    width: 20em;
    margin-top: 5em;
  }
  .inner-card {
    padding: 0.5em;
    background-color: #14253d;
  }
}
/*# sourceMappingURL=style.css.map */